.collapse.navbar-collapse.navbar-ex1-collapse
  %ul.nav.navbar-nav.side-nav
    %li
      = link_to root_path do
        %i.fa.fa-fw.fa-home
        = t('admin.website')
      = link_to admin_root_path do
        %i.fa.fa-fw.fa-dashboard
        = t('admin.dashboard')
      = link_to admin_posts_path do
        %i.fa.fa-fw.fa-list
        = t('admin.posts')
      = link_to admin_users_path do
        %i.fa.fa-fw.fa-users
        = t('admin.users')
      = link_to admin_categories_path do
        %i.fa.fa-fw.fa-list
        = t('admin.categories')
      = link_to admin_settings_path do
        %i.fa.fa-fw.fa-list
        = t('admin.settings')
      = link_to admin_idioma_path do
        %i.fa.fa-fw.fa-list
        Idioma