- content_for :page_title, Setting.get(:short_desc)
- content_for :left_title, Setting.get(:title)
- content_for :left_desc, Setting.get(:short_desc)
- content_for :left_image_url, Setting.get(:main_image).file.url(:square_1440)
- content_for :meta_tags do
  %meta{name: "description", content: Setting.get(:short_desc)}
  %meta{property: "og:title", content: [Setting.get(:short_desc), Setting.get(:title)].join(" | ")}
  %meta{property: "og:site_name", content: Setting.get(:title)}
  %meta{property: "og:url", content: root_url}
  %meta{property: "og:description", content: Setting.get(:short_desc)}
  %meta{property: "og:image", content: Setting.get(:main_image).file.url(:wide_1440)}
  %meta{property: "og:type", content: "website"}

.nav
  %a.select-posts.active{:href => "#"}= t('posts')
  %a.select-categories{:href => "#"}= t('categories')
.home-page-posts.animated.fadeIn
  = render partial: "common/posts", locals: {posts: @posts}
  - if @posts_count > @posts_limit
    .row
      .col-md-12
        = link_to t('view_more'), posts_path, class: "view-more text-center"

.home-page-categories.hide.animated.fadeIn
  = render partial: "common/categories", locals: {categories: @categories}