%head
  %meta{charset: "utf-8"}/
  %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}/
  %title= [Setting.get(:title), content_for(:page_title)].reject(&:blank?).join(" | ")
  %meta{name: "viewport", content: "width=device-width"}
  = content_for(:meta_tags)

  %link{rel: "stylesheet", href: "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css"}
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"}

  = stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true

  = csrf_meta_tags

  = Setting.get(:header_code).to_s.html_safe

  - heading_font = Setting.get(:heading_font)
  - if heading_font.present?
    :css
      h1,h2,h3,h4,h5,h6 {
        font-family: "#{heading_font}", "Source Sans Pro", sans-serif !important;
      }

  - body_font = Setting.get(:body_font)
  - if body_font.present?
    :css
      p {
        font-family: "#{body_font}", "Droid Serif", serif !important;
      }