.row
  .col-lg-12
    %h1.page-header
      = t('admin.posts')
      .pull-right
        = link_to t('admin.new'), new_admin_post_path, class: "btn btn-primary"

    .page-header__search-body
      = search_form_for [:admin, @search], :builder => SimpleForm::FormBuilder do |f|
        .form-group
          .input-group
            = f.input :title_cont, label: t('admin.search'), required: false
        .form-group
          .input-group
            %span.input-group-btn
              = f.submit t('admin.go'), class: "btn btn-default"

    = will_paginate @posts

    %table.table.table-hover
      %tr
        %th
        %th
        %th= sort_link @search, :title, t('admin.post.title')
        %th= t('admin.post.author')
        %th= t('admin.post.category')
        %th= sort_link @search, :published_at, t('admin.post.is_published')
        %th= t('admin.post.is_listed')
        %th
      - @posts.each do |post|
        %tr
          %td
            - if post.is_static?
              %i.fa.fa-fw.fa-bookmark
          %td= post.id
          %td= post.title
          %td= post.user.try(:name)
          %td= post.category.try(:name)
          %td= post.published_at
          %td= post.is_listed ? t('admin.ans_yes') : t('admin.ans_no')
          %td= link_to t('admin.edit'), edit_admin_post_path(post), class: "btn btn-default"