.row
  .col-lg-12
    %h1.page-header
      Settings

    .page-header__search-body
      = search_form_for [:admin, @search], :builder => SimpleForm::FormBuilder do |f|
        .form-group
          .input-group
            = f.input :key_or_name_cont, label: "Search", required: false
        .form-group
          .input-group
            %span.input-group-btn
              = f.submit "Go", class: "btn btn-default"

    = will_paginate @settings

    %table.table.table-hover
      %tr
        %th= sort_link @search, :name, "Name"
        %th Value
        %th
      - @settings.each do |setting|
        %tr
          %td= setting.name
          %td
            - if setting.image?
              %img{src: setting.load_image.file.url(:square_200), style: "max-width: 50px; max-height: 50px;"}
            - else
              = truncate(setting.value, length: 100)
          %td= link_to 'Edit', edit_admin_setting_path(setting), class: "btn btn-default"