= render partial: "admin/uploads/single_file_upload", locals: {object: @category, target: "#category_upload_id"}

= simple_form_for([:admin, @category]) do |f|
  .row
    .col-lg-6
      = f.input :slug, label: t('admin.category.slug')
      = f.input :name, label: t('admin.category.name')
      = f.input :description, label: t('admin.category.description')
      = f.input :upload_id, as: :hidden
      = f.input :is_listed, as: :boolean, wrapper: :inline_checkbox, label: t('admin.category.is_listed')

      .actions
        = f.submit t('admin.save'), class: "btn btn-primary"