- content_for :hero_image, @post.upload.file.url(:wide_1440)
- content_for :page_title, @post.title
- content_for :meta_tags do
  - description = @post.seo_description.present? ? @post.seo_description : @post.summary
  %meta{name: "description", content: description}
  %meta{name: "keywords", content: @post.seo_tags}
  %meta{name: "author", content: @post.user.name}
  %meta{property: "og:title", content: @post.title}
  %meta{property: "og:site_name", content: Setting.get(:title)}
  %meta{property: "og:url", content: post_url(@post)}
  %meta{property: "og:description", content: description}
  %meta{property: "og:image", content: @post.upload.file.url(:wide_1440)}
  %meta{property: "og:type", content: "website"}

.post
  %p.meta
    In
    = link_to @post.category.name, category_path(@post.category)
    %i.link-spacer
    By
    = @post.user.name
    %img.user-icon.user-1{:alt => @post.user.name, :src => @post.user.upload.file.url(:square_200)}/

  = Setting.get(:social_share_code).html_safe

  %h1= @post.title
  - if @post.subtitle.present?
    %p.subtitle= @post.subtitle

  .body
    ~ parse_body(@post.body)

  - if @post.source_url.present? && @post.source_name.present?
    %span.source
      Source:
      = link_to @post.source_name, @post.source_url, target: "_blank"

  .single-footer
    = render partial: "common/user_social", locals: {user: @post.user}