= simple_form_for @user, url: login_path do |f|
  = f.error_notification
  = f.input :email, input_html: {class: "form-control"}
  = f.input :password, input_html: {class: "form-control"}
  = f.submit 'Login', class: "btn btn-primary"