!!! 5
%html.no-js{lang: I18n.locale}
  = render partial: "layouts/common/head"

  %body

    = render partial: "layouts/common/menu"

    %main.container.left-container
      .row
        - style = "background-image: url(#{content_for(:left_image_url)});"
        %section.sidebar.col-md-5.col-sm-12{style: style}
          %span.menu-trigger.push
            %span.bar
            %span.bar
            %span.bar
          .site-info
            .primary-info
              %h1= content_for :left_title
              %p= content_for :left_desc

        %section.col-md-7.col-sm-12.col-md-offset-5.main-content
          = yield

          = render partial: "common/footer"

    = render partial: "layouts/common/footer"