!!! 5
%html{lang: I18n.locale}
  = render partial: "layouts/common/head"

  %body

    = render partial: "layouts/common/menu"

    - hero_image = content_for(:hero_image)
    - style = "background-image: url(#{hero_image});"
    %header.hero-image{style: style, role: "banner"}
    %span.menu-trigger.push
      %span.bar
      %span.bar
      %span.bar

    = yield

    = render partial: "layouts/common/footer"