!!! 5
%html{lang: I18n.locale}
  = render partial: "layouts/common/head"

  %body

    %span.menu-trigger.side-writer-icon.writer-icon.animated.fadeInDown
      %span.bar
      %span.bar
      %span.bar

    - hero_image = content_for(:hero_image)
    - style = "background-image: url(#{hero_image});"
    .hero-image.hero-a-great-story{style: style}

      %noscript
        .no-js-menu
          = render partial: "layouts/common/menu"

    .container
      .row
        #menu
          = render partial: "layouts/common/menu"

        .col-xs-12.main-content.single-content
          = render partial: "common/select_locale"

          = yield

          = render partial: "common/footer"

    = render partial: "layouts/common/footer"